*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*Reset*/

:root{
    --primary-color: white;
    --button-text: white;
    --primary-background: #F6F8F9;
    --logo_name: #031732; 
    --editorial-tag: #14AAF5;
    --goals-tag: #AB5DE6;
    --recruiting-tag: #2CC6AB;
    --mobile-tag: #FF9B00;
    --website-tag: #EC4A9D;
    --sales-tag: #A3D116;
    --primary-button: #14AAF5;
    --secondary-button: #C4CBD0;
    --check-color: #2CC6AB;
    --cross-color: #FF4040 ;
    --list-items: #434851 ;
}
/*Variables*/

body{
    background-color: var(--primary-background);

}

#header{
    background-color: var(--primary-color)
}

.logo{
    padding: 1rem;
}

.logo_image{
    vertical-align: middle;
}
.logo_name{
    vertical-align: middle;
    line-height: 3rem;
    font-size: 2.5rem;
    color: var(--logo_name);
    display: inline-block;
}
/*header*/

#main{
    background-color: var(--primary-color);
    width: 50rem;
    margin: 3rem auto;
    color: var(--list-items);
    border-radius: 0.3rem;
    padding: 0 3rem 3rem;
}

.container{
    padding: 1rem 0;
    border-bottom: 2px solid var(--primary-background);
}

.button{
    color: var(--button-text);
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.add_task{
    background-color: var(--primary-button);
    border-color: var(--primary-button);
    cursor: pointer;
}

.add_section{
    background-color: var(--primary-color);
    color: var(--secondary-button);
    cursor: pointer;
}

.list_section{
    margin-top: 2rem;
}

.check{
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid;
    border-radius: 50%;
    color: var(--check-color);
    vertical-align: middle;
    font-size: 0.7rem;
    text-align: center;
} 

.cross{
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid;
    border-radius: 50%;
    color: var(--cross-color);
    vertical-align: middle;
    font-size: 0.7rem;
    text-align: center;
}

.item{
    vertical-align: middle;
    font-size: 1.2rem;
}

.tag{
    color: var(--button-text);
    border: 1px solid;
    padding: 0.3rem 1rem;
    vertical-align: middle;
    border-radius: 1rem;

}

.list_section_items{
    margin-top: 1.5rem;
}

.editorial{
    background-color: var(--editorial-tag);
    border-color: var(--editorial-tag);
}

.goals{
    background-color: var(--goals-tag);
    border-color: var(--goals-tag);
}

.recruiting{
    background-color: var(--recruiting-tag);
    border-color: var(--recruiting-tag);
}

.mobile{
    background-color: var(--mobile-tag);
    border-color: var(--mobile-tag);
}

.website{
    background-color: var(--website-tag);
    border-color: var(--website-tag);
}

.sales{
    background-color: var(--sales-tag);
    border-color: var(--sales-tag);
}